@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url(~assets/fonts/Manrope-VariableFont_wght.ttf) format("truetype");
}

html {
  font-family: "Manrope";
  @apply bg-[#37373D] text-white;
}

.header {
  @apply bg-black h-[64px];

  &__container {
    @apply flex justify-between max-w-[1024px] items-center h-full mx-auto;
  }

  &__nav {
    @apply bg-[#161616] h-full aspect-square;
  }

  &__button {
    @apply w-full h-full flex items-center justify-center;
  }

  &__logo {
    @apply h-full;
  }
}

.table-container {
  @apply overflow-x-auto;
}

.table {
  @apply font-light w-full mx-auto text-xs font-light;

  &__header {
    @apply w-full flex my-2 justify-center mx-auto px-8;

    &--name {
      @apply flex items-center w-[136.5px] text-left font-light py-2;
    }

    &--stat {
      @apply
      flex
      items-center
      justify-center
      w-[68.25px]
      font-light
      border-r-2
      border-[#606060]
      last:border-r-0;
    }
  }

  &__cell {
    @apply w-full flex justify-center border-b border-black mx-auto;

    &--name {
      @apply w-[136.5px] text-left flex items-center hover:underline;
    }

    &--stat {
      @apply w-[68.25px] text-center py-3;

      .overall {
        @apply mx-2 border rounded-md py-2 text-black bg-white font-semibold;
      }

      .position {
        @apply mx-2 rounded-md py-2 bg-black;
      }

      .stat {
        @apply mx-2 rounded-md py-2 bg-black border;
      }
    }
  }
}

.card {
  @apply bg-[#161616] rounded-xl flex flex-col sm:flex-row;

  &__image {
    @apply w-[182px] h-auto object-contain mb-auto mx-auto;
  }

  &__stats {
    @apply grid grid-cols-3 lg:grid-cols-6 sm:w-full mx-2 sm:mx-8 gap-4;
  }
}

.stats {
  @apply col-span-1 flex flex-col space-y-4 my-4 w-full;

  &__heading {
    @apply border-y-2 flex justify-between;
  }

  &__item {
    @apply text-xs flex justify-between;
  }
}

.bio {
  @apply my-4;

  &__heading {
    @apply flex gap-2 sm:items-end flex-col sm:flex-row my-8;

    &--name {
      @apply text-3xl;
    }

    &--redirect {
      @apply text-[#848282] text-sm underline decoration-dotted;
    }
  }

  &__list {
    @apply flex flex-col sm:flex-row justify-between;
  }

  &__item {
    @apply
    flex
    justify-between
    max-sm:text-lg
    max-sm:border-b
    max-sm:py-4
    sm:px-4
    sm:flex-col
    sm:space-y-4
    sm:border-l
    first:border-l-0
    border-[#848282];

    &--title {
      @apply max-sm:font-semibold sm:text-[#848282];
    }

    &--detail {
      @apply font-thin;
    }
  }
}
